# GLOBAL
PROJECT_NAME=data_pipeline

# PORTS
API_PORT=3000
KAFKA_PORT=9092
MYSQL_PORT=3306
PMA_PORT=8081

# MYSQL
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=users

# KAFKA
KAFKA_TOPIC=users

# API
KAFKA_BROKER=localhost:9092 # ONLY LOCALHOST, erased in docker config
KAFKA_CLIENT_ID=api