# GLOBAL
PROJECT_NAME=data_pipeline

# PORTS
API_PORT=3000
KAFKA_PORT=9092
MYSQL_PORT=3306
PMA_PORT=8081

# MYSQL
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=users

# KAFKA
KAFKA_TOPIC_DATA=users
DATA_PARTITIONS=1
KAFKA_TOPIC_METRICS=metrics
METRICS_PARTITIONS=1

# API
KAFKA_BROKER=localhost:9092 # ONLY LOCALHOST, erased in docker config
KAFKA_CLIENT_ID=api

# SPARK CONSUMER
SPARK_CONSUMER_WEB_UI_PORT=8080
SPARK_CONSUMER_WORKERS_MEM=1G
SPARK_CONSUMER_WORKERS_CORES=1
BATCH_INTERVAL_SEC=2 seconds

# SPARK PRODUCER
API_ADDR=http://192.168.1.XXX
SPARK_PRODUCER_WEB_UI_PORT=7070
SPARK_PRODUCER_WORKERS_MEM=1G
SPARK_PRODUCER_WORKERS_CORES=2
NUM_ROWS=1000000
NUM_SHARDS=10