# GLOBAL
PROJECT_NAME=data_pipeline

# PORTS
API_PORT=3000
KAFKA_PORT=9092
MONGODB_PORT=27017
PMA_PORT=8081
REDIS_PORT=6379

# MONGODB
MONGODB_ROOT_USERNAME=root
MONGODB_ROOT_PASSWORD=root
MONGODB_DATABASE=users

# KAFKA
KAFKA_TOPIC_DATA=users
DATA_PARTITIONS=10
KAFKA_TOPIC_METRICS=metrics
METRICS_PARTITIONS=1

# API
KAFKA_BROKER=localhost:9092 # ONLY LOCALHOST, erased in docker config
KAFKA_CLIENT_ID=api

# SPARK CONSUMER
SPARK_CONSUMER_WEB_UI_PORT=8080
SPARK_CONSUMER_WORKERS_MEM=3G
SPARK_CONSUMER_WORKERS_CORES=10
BATCH_INTERVAL_SEC=3 seconds
BATCH_ROWS_LIMIT=100000
# Enable it if you want to make
# spark consume a big amount of
# data in a row
STRESS_TEST_ENABLED=false

# SPARK PRODUCER
API_ADDR=http://192.168.1.xxx
SPARK_PRODUCER_WEB_UI_PORT=7070
SPARK_PRODUCER_WORKERS_MEM=1G
SPARK_PRODUCER_WORKERS_CORES=2
NUM_ROWS=1000000
NUM_SHARDS=10

# HTTP WORKERS
HTTP_WORKERS_REPLICAS=10
HTTP_WORKERS_CONCURRENCY=10
HTTP_WORKERS_BATCH_SIZE=2000